---
// import {ViewTransitions} from 'astro:transitions'; // changes in the future to clientRouter
// import {ClientRouter} from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Freelance Software Developer Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
		<clientRouter/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--navy: #000080;
		--light-red: #FF6B6B;
		--light-red_hover: #FF4F4F;
		--white: #FFFFFF;

		--button_text: #FFFFFF;
		
		--accent: 255, 107, 107;
		--accent-light: 255, 204, 204;
		--accent-dark: 230, 60, 60;

		--accent2: #FF6B6B;
		--accent-light2: #FFCCCC;
		--accent-dark2: #E63C3C;		
		

		/*old values: */
		/* https://www.rapidtables.com/convert/color/rgb-to-hex.html?r=230&g=60&b=60  */

		/* --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;

		--accent2: #883AEA;
		--accent-light2: #E0CCFA;
		--accent-dark2: #310A65;		 */
		 
		/* --accent-light: #E0CCFA;
		--accent-dark: #310A65; */
		
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		)
		--email-standard: {
    background-color: #10b981;
    color: white;
  };
  
  --email-standard-hover: {
    background-color: #059669;
  };
	}
	html {
		font-family: 'Roboto', sans-serif;
		background-color: var(--white);  
		color: var(--navy);
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>